#page2 {
    padding: 2vw 2vw;
  
}

.logos {
    overflow: hidden;
    /* background: white; */
    white-space: nowrap;
    position: relative;
    display: flex;
}

.logos-wrapper {
    display: flex;
    align-items: center;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 3vw;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    /* background: linear-gradient(to left, rgba(255, 255, 255, 0), white); */
    background: white;
}

.logos:after {
    right: 0;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0), white); */
    background: white;
}

.logos-slide {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    animation: slide 30s linear infinite;
    padding: 1vw 0.3vw;
}

.logos-slide img {
    height: 3vw;
    width: auto;
    padding-left: 3.7vw;
}

.logos-slide h3 {
    font-size: 1.3vw;
    font-weight: 700;
    /* font-family: Inter; */
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


@media (max-width: 768px) {
    .logos-slide img {
        height: 4vw;
        width: auto;
        padding-left: 3.7vw;
    }

    .logos-slide h3 {
        font-size: 2.3vw;
        font-weight: 700;
        /* font-family: Inter; */
    }

    .logos:before {
        display: none;
    }

    .logos:after {
        display: none;
    }
}


@media (max-width: 480px) {
    .logos-slide img {
        height: 6vw;
        width: auto;
        padding-left: 3.7vw;
    }

    .logos-slide h3 {
        font-size: 3.3vw;
        font-weight: 700;
        /* font-family: Inter; */
    }

    .logos:before {
        display: none;
    }

    .logos:after {
        display: none;
    }
}


/* booking flow */
.booking-flow {
    position: relative;
    width: 100%;
    height: auto;
    cursor: default;
}

.booking-flow-text {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1.5vw;
}

.booking-flow-text p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    font-weight: 500;
    margin: 1vw 1vw;

}

.booking-flow-text h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 2.5vw;
}

.booking-step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
    margin: 0 7vw;
    margin-bottom: 7vw;
}

.booking-step h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

.booking-step p {
    font-size: 0.9vw;
    font-weight: 300;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.booking-svg {
    background-color: #FD3B3B;
    border-radius: 10px;
    width: 2.9vw;
    height: 2.9vw;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 0.7vw;
}

.booking-svg:hover {
    transform: scale(1.1);
}

.booking-svg svg {
    width: 15px;
    height: 15px;
    stroke: white;
}



@media (max-width: 768px) {
    .booking-flow {
        width: auto;
        margin-top: 20px;
    }

    .booking-flow-text p {
        font-size: 2.4vw;
        font-weight: 500;
    }

    .booking-flow-text h3 {
        font-size: 3.4vw;
        font-weight: 500;
    }

    .booking-step h4 {
        font-size: 2.3vw;
        font-weight: 500;
    }

    .booking-step p {
        font-size: 1.4vw;
        font-weight: 300;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .booking-svg {
        background-color: #FD3B3B;
        border-radius: 10px;
        width: 4.9vw;
        height: 4.9vw;
        padding: 10px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        margin-bottom: 0.7vw;
    }

}


@media (max-width: 480px) {
    .booking-flow {
        width: auto;
        margin-top: 20px;
    }

    .booking-flow-text p {
        font-size: 3.4vw;
        font-weight: 500;
        text-align: center;
    }

    .booking-flow-text h3 {
        font-size: 4.4vw;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    .booking-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .booking-step div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .booking-step h4 {
        font-size: 4.2vw;
        font-weight: 500;
        /* margin-top: 10px; */
    }

    .booking-step p {
        font-size: 3.1vw;
        font-weight: 300;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .booking-svg {
        background-color: #FD3B3B;
        border-radius: 10px;
        width: 10vw;
        height: 10vw;
        padding: 10px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        /* margin-bottom: 10px; */
    }

    .booking-horizontal-line {
        display: none;
        /* Hide the horizontal lines */
    }
}

#rent {
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#rent-car {
    font-size: 2vw;
    font-weight: 600;
}

#service-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 20px;
}

#service-cards div {
    background-color: #6E828A;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 180px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#service-cards div:hover {
    background-color: #454F53;
    transform: scale(1.05);
}

#service-cards h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 10px;
}

#service-cards p {
    color: #FFFFFF;
    font-size: 14px;
}

#service-cards svg {
    color: #fff;
    margin-bottom: 20px;
}

#explore {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#explore-car {
    font-size: 32px;
    /* font-family: title; */
    font-weight: 600;
}

#cars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vw;
    padding: 2vw 12vw;
}

.car-card {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: left;
    transition: transform 0.2s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 21vw;
    height: 23vw;
}

.car-card:hover {
    transform: translateY(-5px);
    background-color: #FD3B3B;
    color: white;
}

.car-card:hover h5 {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.car-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.car-information {
    margin-top: 1.7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.car-information img {
    margin-top: 8px;
    height: calc(22px + 10px);
    width: auto;
    padding: 2px 2px;
}

.car-text {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    /* Stack h3 and h5 */
}


.car-card h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 60px;
    text-align: left;
    
   
}

 h5 {
    font-size: 12px;
    font-weight: 600;
    color: #5f5f5f;
    margin-top: -20px;
}

.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.card-bottom h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.card-bottom p {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 0.8vw 0.8vw;
    background-color: #F8F8F8;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.view-button {
    background-color: #FD3B3B;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.car-card:hover button {
    background-color: #fff;
    color: #FD3B3B;
    font-weight: 700;
}

.car-card:hover p {
    background-color: #fff;
    color: #FD3B3B;
    font-weight: 700;
}

#cars-btn {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#all-cars-btn {
    padding: 10px 20px;
    border: 1px solid #FD3B3B;
    border-radius: 50px;
    font-weight: 500;
    color: #FD3B3B;
    background-color: #FD3B3B;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    z-index: 3;
}

#all-cars-btn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#all-cars-btn:hover::after {
    bottom: 0;
    border-radius: 0;
}

#all-cars-btn:hover span {
    color: #FD3B3B;
}

#all-cars-btn span {
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 3;
    font-size: 1.1vw;
}


@media screen and (max-width: 1024px) {

    /* Tablet view */
    #cars {
        grid-template-columns: 1fr;
        gap: 2vw;
        padding: 2vw 5vw;
    }

    .car-card {
        width: 100%;
        height: 40vw;
    }
}

@media screen and (max-width: 768px) {

    /* Mobile view */
    #cars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5vw;
        padding: 2vw 3vw;
    }

    .car-card {
        /* width: 100%;
        height: 40vw; */

        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .car-image {
        /* width: 50%;
        max-width: 35%; */

        width: 50%;
        max-width: 80%;
        /* display: block; */
        margin: 0 auto;
    }

    #all-cars-btn span {
        color: #fff;
        text-decoration: none;
        position: relative;
        z-index: 3;
        font-size: 1.7vw;
        width: 17vw;
        margin-top: 1vw;
    }
}


@media screen and (max-width: 480px) {

    /* Mobile view */

    #rent-car {
        font-weight: 600;
        font-size: 4vw;
    }

    #cars {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5vw;
        padding: 2vw 3vw;
    }

    .car-card {
        /* width: 100%;
        height: 40vw; */

        width: 100%;
        height: 80vw;
        display: flex;
        flex-direction: column;
    }

    .car-image {
        /* width: 50%;
        max-width: 35%; */

        width: 50%;
        max-width: 80%;
        /* display: block; */
        margin: 0 auto;
    }

    #all-cars-btn {
        padding: 4px 20px;
        margin-top: 8px;
    }

    #all-cars-btn span {
        color: #fff;
        text-decoration: none;
        position: relative;
        z-index: 3;
        font-size: 3.8vw;
    }

    #rent {
        padding-bottom: 8px;
    }
}

.car-review {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.latest-car-review h3 {
    margin-top: 30px;
    font-size: 40px;
    /* font-family: title; */
    font-weight: 600;
    font-style: bold;
}

.latest-car-review p {
    color: #464646;
    margin: 10px
}

