body{
  font-family:"Roboto Condensed", "Roboto Condensed Placeholder", sans-serif;
}
.how-it-works {
    text-align: center;
    padding: 60px 20px;
    
    background: #F5F8F7;
  }
  
  .how-it-works h2 {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-weight: bold;
    margin-bottom: 10px;
    color: #046AAA;
  }
  
  .how-it-works .subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 50px;
  
  }
  
  .steps {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    color: #046AAA;
  }
  
  .step {
    max-width: 400px;
    text-align: center;
  }
  
  .icon-wrapper {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  
  .icon-wrapper.teal {
    /* background-color: #00798c; */
    color: #fff;
  }
  
  .icon-wrapper.orange {
    /* background-color: #fcb900; */
    color: #fff;
  }
  
  .icon-wrapper.black {
    /* background-color: #333; */
    color: #fff;
  }
  
  .step h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .step p {
    font-size: 0.95rem;
    color: #666;
  }
@media (min-width: 1025px) and (max-width: 1920px) {
  .how-it-works {
    padding: 3% 3%;
   
  }

  .how-it-works h2 {
    font-size: 4vw;
    
  }

  .how-it-works .subtitle {
    font-size: 1.5vw;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
   
  }

  .steps {
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 8%; */
    justify-content: center;
  }

  .step {
    max-width: 20%;
    margin: 0 auto;
    margin-bottom: 4%;
  }

  .icon-wrapper {
    width: 25%;
    height: 30%;
    font-size: 1vw;
  }

  .step h3 {
    font-size: 1.2vw;
  }

  .step p {
    font-size: 1vw;
  }
}


  @media (min-width: 769px) and (max-width: 1024px) {
  .how-it-works {
    padding: 3% 5%;
   
  }

  .how-it-works h2 {
    font-size: 4vw;
  }

  .how-it-works .subtitle {
    font-size: 1.8vw;
    margin-bottom: 8%;
  }

  .steps {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
  }

  .step {
    max-width: 45%;
    margin: 0 auto;
  }

  .icon-wrapper {
    width: 20%;
    height: 30%;
    font-size: 2rem;
  }

  .step h3 {
    font-size: 1.5rem;
  }

  .step p {
    font-size: 1.2rem;
  }
}

  @media (min-width: 321px) and (max-width: 769px) {
  .how-it-works {
    padding: 8% 6%;
   
  }

  .how-it-works h2 {
    font-size: 8vw;
  }

  .how-it-works .subtitle {
    font-size: 4.5vw;
    margin-bottom: 8vw;
  }

  .steps {
    flex-direction: column;
    gap: 8vw;
  }

  .step {
    max-width: 90vw;
    margin: 0 auto;
  }

  .icon-wrapper {
    width: 18vw;
    height: 18vw;
    font-size: 5vw;
  }

  .step h3 {
    font-size: 5.5vw;
  }

  .step p {
    font-size: 4.2vw;
  }
}


 @media (max-width: 320px) {
  .how-it-works {
    padding: 5% 5%;
   
  }

  .how-it-works h2 {
    font-size: 10vw;
  }

  .how-it-works .subtitle {
    font-size: 6vw;
    margin-bottom: 10%;
  }

  .steps {
    flex-direction: column;
    gap: 10vw;
  }

  .step {
    max-width: 100vw;
  }

  .icon-wrapper {
    width: 20vw;
    height: 20vw;
    font-size: 1.5vw;
  }

  .step h3 {
    font-size: 6vw;
  }

  .step p {
    font-size: 5vw;
    
  }
}
